@import '~carbon-components/scss/globals/scss/vendor/@carbon/grid/scss/prefix';

@mixin usage {
  .admin--usage {
    &__button {
      border: none;
      background: transparent;
      cursor: pointer;
      padding: carbon--rem(8px);
      outline: none;

      &__active {
        box-shadow: 0 carbon--rem(5px) carbon--rem(5px) carbon--rem(1px) rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
    }
    .#{$prefix}--col-lg-8,
    .#{$prefix}--col-lg-4 {
      border: 1px solid $ui-03;
    }
  }
}

@include exports('usage') {
  @include usage;
}
