.conversion-funnel-table {
  background-color: white;
  padding: $spacing-03;
  border: 1px solid black;
  min-width: 800px;

  &__header {
    width: 100%;
  }

  &__title {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
  }

  &__date {
    text-align: left;
    color: darkgray;
    font-size: .9rem;
  }
}
